:root {
	--text-color: rgb(9, 0, 59);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.map {
	bottom:0px;
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0px;
	z-index: 0;
}

/*=================
SIDEBAR
=================*/
.sidebar {
	width: 400px;
	background: #ddcee0;
	height: 100%;
	position: absolute;
	line-height: 2em;
	padding: 20px;
	opacity: 0.9;
	z-index: 1;
}

.input {
	border: none;
	border-bottom: 2px solid var(--text-color);
	width: 250px;
}

.btn {
	border: none; 
	background: transparent;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.5em;
}

.place-names {
	box-sizing: border-box;
	color: var(--text-color);
	text-transform: capitalize;
	overflow-wrap: break-word;
	list-style: none;
}

.place-names li {
	padding: 10px 0;
}